@import "../Apps.scss";
$font-family_title: TempusSansITC;
$font-famili_Header: BigJohn;
$font-size_title: 50px;
$back-color_perfil: rgba(225, 233, 222, 0.59);

.title {
  color: $font-color_brown;
  font-family: $font-family_title;
  font-size: $font-size_title;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
}

#p_perfil {
  margin: auto;
  color: $font-color_green;
  font-weight: bold;
}

.header {
  background-color: $back-color_header-footer;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ulOptionHeader {
  display: flex;
}
.commonButtons {
  display: flex;
}

.header button {
  border-radius: 6px;
  border: solid 1px #707070;
  background-color: #619a5d;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: bold;
}
.buttonOption {
  margin: 0;
  display: none;
}
.header ul {
  list-style: none;
  margin-bottom: 0;
}
.header button a {
  font-family: BigJohn;
  font-size: 23px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #e1e9de;
  text-decoration: none;
}

.header__menu {
  margin-right: 45px;
  display: flex;
}
.header__menu-ListOption,
.ulOptionHeader {
  background-color: $back-color_header-footer;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.header__menu ul {
  display: none;
  padding: 0px;
  padding-top: 50px;
  position: absolute;
  z-index: 2;
  width: max-content;
}

.header__menu:hover ul,
ul:hover {
  display: block;
}

.header__menu li {
  padding: 5px 7px 3px 7px;
}

.header__menu li a {
  color: #e1e9de;
  font-weight: bold;
  font-family: $font-famili_Header;
  text-transform: uppercase;
}
.header__menu li a:hover {
  font-size: 1.04rem;
}
li:hover {
  text-decoration: underline;
  text-decoration: none;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

#header_logo {
  width: 170px;
  height: 61px;
  object-fit: cover;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}
.img_option{
  width: 40px;
  object-fit: cover;
}

.closeBox_perfil {
  display: none;
}

@media screen and (max-width: 1040px) {
  .closeBox_perfil {
    display: inline;
  }
  .closeBox_perfil-nav {
    display: none;
  }
  .buttonOption {
    display: block;
  }
  .ulOptionHeader {
    padding-left: 0;
    position: absolute;
    padding-top: 25px;
    z-index: 2;
  }

  .sectionOption {
    align-content: initial;
  }

  .commonButtons {
    display: grid;
  }
  .commonButtons li button {
    background-color: $back-color_header-footer;
    border: none;
  }
  .sectionOption ul {
    display: none;
  }
  .commonButtons li {
    display: inline;
    padding: 0px;
    z-index: 2;
    width: 100%;
  }
  .sectionOption:hover .ulOptionHeader,
  .ulOptionHeader:hover {
    display: block;
  }
  .sectionOption li:hover {
    text-decoration: underline;
    text-decoration: none;
  }
}
