@import "../Apps.scss";
.productAddCombo {
  width: 200px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #619a5d;
  font-size: 17px;
  font-weight: bold;
  padding-left: 7px;
}

.imgProductAddCombo {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
