$font-color_brown: #6f2c19;
$back-color_header-footer: #8eb27c;
$font-color_green: #217b1b;
$back-color: #e1e9de;
$back-color_button: #619a5d;

.transparentButton {
  background: transparent;
  border: none !important;
}


