@import "./Apps.scss";

.myPerfil{
    display: flex;
    background-image: url("../static/vegatales_fondo.jpg");
}

.imgPerfil {
  width: 300px;
  height: 300px;
  border-radius: 150px;
}

.myPerfil_input {
    width: 480px;
    border-radius: 5px;
    border-width: 3px;
    border-color: $back-color_button;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 20px;
}

.myPerfil_title {
  margin-top: 25px;
  padding: 0px 0 35px 0;
  font-family: BigJohn;
  font-size: 25px;
  letter-spacing: normal;
  text-align: center;
  color: $font-color_green;
  width: 100%;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  font-weight: bolder;
}

.myPerfil_text {
    padding-left: 15px;
    margin: 0;
    width: 187px;
    font-family: TimesNewRomanPS-MT;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: $font-color_green;
    display: flex;
    align-items: center;
}

.myPerfil_button, .myPerfil_buttonText:hover {
    width: 170px;
    height: 45px;
    padding: 12px 21px 11px 22px;
    border-radius: 6px;
    border: solid 1px #707070;
    background-color: $back-color_header-footer;
    font-family: TimesNewRomanPS-MT;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #e1e9de;
}

.myPerfil_button a, .myPerfil_button a:hover{
    font-family: TimesNewRomanPS-MT;
    font-size: 20px;
    font-weight: bold;
    color: #e1e9de;
}