@import "./Apps.scss";

.sendingg {
  padding: 10px;
  min-height: -webkit-calc(100% - 100px); 
  min-height: -moz-calc(100% - 100px); 
  min-height: calc(100% - 100px);
}

.sending {
  height: 100%;
  margin-bottom: 35px;
}

.sending:after {
  content: "";
  display: block;
  z-index: -1;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-image: url("../static/vegetales.png");
  opacity: 0.2;
}

.sendingTitle {
  text-align: center;
  color: $font-color_brown;
  margin: 20px 0px;
  font-family: BigJohn;
  font-size: 30px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bolder;
}

.sendingContentTable {
  display: flex;
  justify-content: center;
}
.sendingTable {
  width: 85% !important;
  background-color: white;
  opacity: 0.7;
}
.sendingTableModal {
  width: 100% !important;
  background-color: white;
  opacity: 0.7;
}
.sendingTable th,
.sendingTable td {
  color: $font-color_brown;
}

.sendingTable_buttons {
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0 5px;
}

.sendingTable_buttons img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.SendingListItem_name {
  font-family: BigJohn;
  text-transform: uppercase;
  font-weight: bolder;
}

.sendingCadet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: BigJohn;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
  border: none;
  background-color: transparent;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
  padding: 5px 0;
}

.sendingCadet:hover {
  font-weight: bolder;
  font-size: 23px;
}

.sendingCadet:focus {
  opacity: 1;
  font-size: 23px;
  border-style: dashed;
}

.modal-subTitle {
  text-transform: uppercase;
  font-size: large !important;
  font-weight: bold !important;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin: 10px 0;
  text-decoration: underline;
  color: white !important;
  opacity: 0.7;
}

.modal-title-detail {
  font-size: 30px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  margin: 5px 0;
}

.modealDetailSection p {
  color: $font-color_brown;
  font-family: Big-john;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modalDetailProperty {
  text-transform: uppercase;
  font-family: TempusSansITC;
  margin-right: 8px;
  font-size: 19px !important;
}

.modalDetail_total {
  color: $font-color_brown;
  font-family: Big-john;
  font-size: 22px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  margin-bottom: 0;
}
.modalDetailContent_total {
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-color: white rgba(0, 0, 0, 0.2);
}

.modalDetail_button {
  border-radius: 6px;
  background-color: $font-color_brown;
  flood-opacity: 0.8;
  padding: 5px 7px;
  font-weight: bold;
  font-family: BigJohn;
  font-size: 22px;
  text-align: center;
  color: #e1e9de;
}
